.card {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.left {
  display: flex;
  align-items: center;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
}
.name {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.email {
  font-size: 13px;
  margin: 0;
}
.infos {
  margin-left: 20px;
}
